<div class="main">
    
    <div class="profile">
      <div class="left">
        <div class="image">
            <img/>
          </div>
          <p></p>
      </div>
      <div class="right">
        <h2></h2>
        <p></p>
        <h3></h3>
        <p></p>
      </div>
      <!-- Display other user details -->
    </div>
  
    <div>
      <!-- <h3>Repositories:</h3> -->
      <ul>

        <div class="cards">
            <li >
                <a></a>
                <p></p>
                <div class="language-container">
                    <div class="lang"></div>
                <div class="lang"></div>
                <div class="lang"></div>
                </div>
            </li>
            <li >
                <a></a>
                <p></p>
                <div class="language-container">
                    <div class="lang"></div>
                <div class="lang"></div>
                <div class="lang"></div>
                </div>
            </li>
            <li >
                <a></a>
                <p></p>
                <div class="language-container">
                    <div class="lang"></div>
                <div class="lang"></div>
                <div class="lang"></div>
                </div>
            </li>
            <li >
                <a></a>
                <p></p>
                <div class="language-container">
                    <div class="lang"></div>
                <div class="lang"></div>
                <div class="lang"></div>
                </div>
            </li>
            <li >
                <a></a>
                <p></p>
                <div class="language-container">
                    <div class="lang"></div>
                <div class="lang"></div>
                <div class="lang"></div>
                </div>
            </li>
        </div>
      </ul>
    </div>
  </div>
